div{
    width: 100%;
    padding: 0px;
    swiper-container{
        width: 100%;
        swiper-slide{
            width: 100%;
            height: 150px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .topRight{
            align-items: initial;
            justify-content: flex-end;
        }
    }
    ion-card{
        ion-card-header{
            ion-item{
                --padding-start: 0;
            }
        }
    }
}