<div class="swiperHeaderMobile">
  <swiper-container #swiperHeaderMobile
                    [modules]="swiperModules"
                    [slidesPerView]="1"
                    [centeredSlides]="true"
                    [autoplay]="true"
                    [breakpoints]="breakpoints"
                    space-between="20"
                    [initialSlide]="1" 
                    [pagination]="{clickable:true, dynamicBullets: true}">
    <swiper-slide *ngFor="let image of images">
      <img src="{{image.img}}">
    </swiper-slide>
  </swiper-container>
</div>