.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.logo-container {
  margin: 5px;
}

.vertical-line {
  width: 2px;
  height: 28.5px;
  background-color: #00205b;
  margin: 0 10px;
}