<app-header [user]="user" [title]="title"> </app-header>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    <app-banner-news></app-banner-news>
  </div>

  <app-posts-home [category]="category" class="ion-padding"></app-posts-home>

  <app-posts-home [category]="category" *ngFor="let category of categories" class="ion-padding"></app-posts-home>
  
  <app-institutional-logos-footer></app-institutional-logos-footer>
</ion-content>
