* {
    font-family: 'Gill Sans Regular';
}

div {
    width: 100%;
    height: 100%;
    app-swiper-images{
        width: 100%;
    }
    ion-label {
        //font-family: 'Roboto Bold';
        font-size: 11.5px;
    }
    p {
        font-size: 11px;
    }
    
}