<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Trueque</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="closeModal()">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <app-card-post-create-exchange [post]="post_shared" [user_id]="post_shared.user_id??''"></app-card-post-create-exchange>
      </ion-col>
      <ion-col size="2">
        <div class="container-arrows">
          <ion-icon name="caret-back-outline" size="large"></ion-icon>
          <ion-icon name="caret-forward-outline" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4"> 
        <app-card-post-create-exchange [post]="proposed_post" [user_id]="uid"></app-card-post-create-exchange>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--List de publicaciones del usuario sign in-->
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedPostId" (ionChange)="onRadioChange($event)">
      <ion-list-header>
        <ion-label>Mis Publicaciones</ion-label>
        <ion-button (click)="reload($event)">
          <ion-icon name="refresh-outline"></ion-icon>
          Refresh
        </ion-button>
      </ion-list-header>
      <ion-item *ngFor="let post of posts_shared">
        <ion-thumbnail>
          <app-swiper-images [images]="post.images??[]" [uid]="post.user_id??''" ></app-swiper-images>
        </ion-thumbnail>
        <ion-label>
          {{post.title}}
          <h3>{{post.short_description}}</h3>
          <ion-label>
            <ion-icon slot="start" name="{{post.category?.icon}}"></ion-icon>
            {{post.category?.name}}
          </ion-label>
        </ion-label>
        <ion-radio value="{{post.id}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-infinite-scroll
    [disabled]="!enable"
    threshold="150px"
    (ionInfinite)="followings($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    />
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="doExchange()"
                color="secondary"
                expand="block"
                fill="outline" shape="round">
      <ion-icon slot="start" name="navigate-outline"></ion-icon>
      Confirmar
    </ion-button>
  </ion-toolbar>
</ion-footer>
